body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:linear-gradient(120deg,#74b9ff,#a29bfe);
}

.nav{
  background:#2d3436;
  color:white;
  padding:15px 30px;
  display:flex;
  justify-content:space-between;
}

.nav a{color:white;text-decoration:none;margin:0 10px;transition:0.3s;}
.nav a:hover{color:#fdcb6e;}

.hero{
  text-align:center;
  padding:90px;
  font-family:'Playfair Display',serif;
}

.hero button{
  background:#00b894;
  color:white;
  padding:14px 32px;
  border:none;
  border-radius:30px;
  font-size:16px;
  transition:0.4s;
}
.hero button:hover{background:#0984e3;transform:scale(1.1);}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
  padding:50px;
}

.service{
  padding:50px;
  color:white;
  text-align:center;
  border-radius:20px;
  text-decoration:none;
  box-shadow:0 15px 25px rgba(0,0,0,0.3);
  transition:0.4s;
}

.service:hover{transform:translateY(-15px) scale(1.05);}

.hospital{background:linear-gradient(135deg,#ff7675,#d63031);} 
.police{background:linear-gradient(135deg,#0984e3,#2d3436);} 
.electricity{background:linear-gradient(135deg,#fdcb6e,#e17055);} 

.card, .info-card{
  width:65%;
  margin:60px auto;
  background:white;
  padding:35px;
  border-radius:20px;
  box-shadow:0 20px 30px rgba(0,0,0,0.25);
  transition:0.3s;
}

.info-card:hover{transform:scale(1.02);}

input,textarea{width:100%;padding:12px;margin:12px 0;}

button{background:#6c5ce7;color:white;padding:12px 25px;border:none;border-radius:25px;}
button:hover{background:#341f97;}

footer{
  background:#2d3436;
  color:white;
  text-align:center;
  padding:15px;
}
  .search{width:60%;margin:20px auto;display:block;padding:12px;border-radius:20px;border:none;}
.transport{background:linear-gradient(135deg,#55efc4,#00cec9);} 
.water{background:linear-gradient(135deg,#74b9ff,#0984e3);} 
.waste{background:linear-gradient(135deg,#636e72,#2d3436);} 
.parks{background:linear-gradient(135deg,#00b894,#55efc4);} 
}